html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 55%;
	width: 55%;
}

label {
	padding: 20px 10px;
	display: inline-block;
	font-size: 0.9em;
}

input {
	font-size: 0.85em;
	padding: 8px;
}